
 <div class="p-3 mb-2 text-dark">
 <h2> <strong> Stupid Coaching </strong> </h2>

 <br>
  <div class="p-3 mb-2 text-dark">
  <p>  <strong> Your question: </strong>
  <br>
  <%= @question %></p>
  </div>

  <div class="alert alert-warning" role="alert">
    <p> <strong> Coach answer: </strong>
    <br>
    <%= @answer %></p>
  </div>

<%= link_to'Ask a new question', ask_path %>
 </div>
